

.work-sans-normal{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* header styles */
.bd{
    background: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    justify-content: center;
    background-size: cover;
    max-width: 1320px;
    height: 600px;
    background-position: center;
    margin: 0 auto;
    margin-top: 150px;
    color: 0% #070211 100% #070211;
    
}



.banner-title{
    font-size: 32px;
    font-weight: 400px;
    color: white;
    /* line-height: 50px; */
    margin-top: 177px;
}
.banner-subtitle{
    height: 190px;
    width: 632px;
    font-size: 72px;
    color: white;
    margin-top: 16px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}



/* offer styles */
.offer-box{
    text-align: center;
    margin-top: 120px;
}
.less{
    font-size: 88px;
    font-weight: bold;
    color: rgba(255, 0, 0, 1);
    margin-bottom: 48px;
}
.holiday{
    font-size: 24px;
    font-weight: 500px;
    color: rgba(255, 0, 0, 1);
    margin-bottom: 16px;
}
.categoris{
    font-size: 48px;
    font-weight: bold;
    color: rgba(7, 2, 17, 1);
    margin-top: 16px;
}
